#CIBMTR - Equity in post-HCT Survival Predictions

**Description**

Improving survival predictions for allogeneic HCT patients is a vital healthcare challenge. Current predictive models often fall short in addressing disparities related to socioeconomic status, race, and geography. Addressing these gaps is crucial for enhancing patient care, optimizing resource utilization, and rebuilding trust in the healthcare system.

This competition aims to encourage participants to advance predictive modeling by ensuring that survival predictions are both precise and fair for patients across diverse groups. By using synthetic data—which mirrors real-world situations while protecting patient privacy—participants can build and improve models that more effectively consider diverse backgrounds and conditions.

You’re challenged to develop advanced predictive models for allogeneic HCT that enhance both accuracy and fairness in survival predictions. The goal is to address disparities by bridging diverse data sources, refining algorithms, and reducing biases to ensure equitable outcomes for patients across diverse race groups. Your work will help create a more just and effective healthcare environment, ensuring every patient receives the care they deserve.

**Evaluation**

Evaluation Criteria
The evaluation of prediction accuracy in the competition will involve a specialized metric known as the Stratified Concordance Index (C-index), adapted to consider different racial groups independently. This method allows us to gauge the predictive performance of models in a way that emphasizes equitability across diverse patient populations, particularly focusing on racial disparities in transplant outcomes.

Concordance index
It represents the global assessment of the model discrimination power: this is the model’s ability to correctly provide a reliable ranking of the survival times based on the individual risk scores. It can be computed with the following formula:
![image.png]()


The concordance index is a value between 0 and 1 where:

0.5 is the expected result from random predictions,
1.0 is a perfect concordance and,
0.0 is perfect anti-concordance (multiply predictions with -1 to get 1.0)
Stratified Concordance Index
For this competition, we adjust the standard C-index to account for racial stratification, thus ensuring that each racial group's outcomes are weighed equally in the model evaluation. The stratified c-index is calculated as the mean minus the standard deviation of the c-index scores calculated within the recipient race categories, i.e., the score will be better if the mean c-index over the different race categories is large and the standard deviation of the c-indices over the race categories is small. This value will range from 0 to 1, 1 is the theoretical perfect score, but this value will practically be lower due to censored outcomes.

The submitted risk scores will be evaluated using the score function. This evaluation process involves comparing the submitted risk scores against actual observed values (i.e., survival times and event occurrences) from a test dataset. The function specifically calculates the stratified concordance index across different racial groups, ensuring that the predictions are not only accurate overall but also equitable across diverse patient demographics.

The implementation of the metric is wound in this notebook.
Submission File
Participants must submit their predictions for the test dataset as real-valued risk scores. These scores represent the model's assessment of each patient's risk following transplantation. A higher risk score typically indicates a higher likelihood of the target event occurrence.

The submission file must include a header and follow this format:

ID,prediction
28800,0.5
28801,1.2
28802,0.8
etc.
where:

ID refers to the identifier for each patient in the test dataset.
prediction is the corresponding risk score generated by your model.

****

In [1]:
#@title Import files
! sudo apt-get install python3-setuptools
! pip install numpy pandas scikit-learn xgboost scikit-survival ace_tools

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from xgboost import XGBClassifier
from sksurv.metrics import concordance_index_censored
from sksurv.util import Surv
from scipy.stats import mode
from scipy.stats import f_oneway

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Suggested packages:
  python-setuptools-doc
The following NEW packages will be installed:
  python3-setuptools
0 upgraded, 1 newly installed, 0 to remove and 19 not upgraded.
Need to get 340 kB of archives.
After this operation, 1,790 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 python3-setuptools all 59.6.0-1.2ubuntu0.22.04.2 [340 kB]
Fetched 340 kB in 2s (212 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package python3-setuptools.
(Reading database ... 124926 files and directories currently installed.)
Preparing to unpack .../python3-setuptools_59.6.0-1.2ubuntu0.22.04.2_all.deb ...
Unpacking python3-setuptools (59.6.0-1.2ubuntu0.22.04.2) ...
Setting up python3-setuptools (59.6.0-1.2ubuntu0.22.04.2) ...
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.1)
Requirement already satisfied: xgboost in /usr/local/lib/python3.11/dist-packages (2.1.3)
Collecting scikit-survival
  Downloading scikit_survival-0.23.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (48 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.0/49.0 kB 1.9 MB/s eta 0:00:00
Collecting ace_tools
  Downloading ace_tools-0.0-py3-none-any.whl.metadata (300 bytes)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: nvidia-nccl-cu12 in /usr/local/lib/python3.11/dist-packages (from xgboost) (2.21.5)
Collecting ecos (from scikit-survival)
  Downloading ecos-2.0.14-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (8.0 kB)
Requirement already satisfied: numexpr in /usr/local/lib/python3.11/dist-packages (from scikit-survival) (2.10.2)
Requirement already satisfied: osqp!=0.6.0,!=0.6.1 in /usr/local/lib/python3.11/dist-packages (from scikit-survival) (0.6.7.post3)
Collecting scikit-learn
  Downloading scikit_learn-1.5.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (13 kB)
Requirement already satisfied: qdldl in /usr/local/lib/python3.11/dist-packages (from osqp!=0.6.0,!=0.6.1->scikit-survival) (0.1.7.post5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading scikit_survival-0.23.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 39.2 MB/s eta 0:00:00
Downloading scikit_learn-1.5.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.3/13.3 MB 93.7 MB/s eta 0:00:00
Downloading ace_tools-0.0-py3-none-any.whl (1.1 kB)
Downloading ecos-2.0.14-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (220 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 220.1/220.1 kB 16.8 MB/s eta 0:00:00
Installing collected packages: ace_tools, scikit-learn, ecos, scikit-survival
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.6.1
    Uninstalling scikit-learn-1.6.1:
      Successfully uninstalled scikit-learn-1.6.1
Successfully installed ace_tools-0.0 ecos-2.0.14 scikit-learn-1.5.2 scikit-survival-0.23.1

In [124]:
# Load dataset
data_path = "train.csv"
data = pd.read_csv(data_path)
# Fix column names
data.columns = data.columns.str.strip()

print(data.shape)



# Load dataset
data_path = "train.csv"
df = pd.read_csv(data_path)
# Fix column names
df.columns = df.columns.str.strip()


print(df.shape)

missing_summary = df.isnull().sum().sum() * 100 / df.size
print(f"Total missing data: {missing_summary:.2f}%")

(28800, 60)
(28800, 60)
Total missing data: 10.97%

#**DATA PREPROCESSING**

In [125]:
#Dropping unnecessary columns

df = df.drop(columns=['ID','year_hct'])

##Total data preprocessing predefined functions

In [126]:
""" preprocessing functions """
def print_column_info(df, column_name):
    total_values = df[column_name].count()  # Non-NaN values
    missing_values = df[column_name].isna().sum()  # NaN values
    total_entries = len(df[column_name])  # Total rows in column

    print(f"Column: {column_name}")
    print(f"Total Entries: {total_entries}")
    print(f"Non-NaN Values: {total_values}")
    print(f"Missing (NaN) Values: {missing_values}")
    print(f"Missing (NaN) Values %: {(missing_values/28800)*100}")
    print("Unique_values:",df[column_name].unique())

# Example usage
#print_column_info(df, "karnofsky_score")

def drop_rows_with_missing_threshold(df, threshold=0.5):
    """
    Drops rows where the percentage of missing values is greater than a given threshold.

    Parameters:
    df (pd.DataFrame): The input DataFrame.
    threshold (float): The fraction of missing values (default = 0.5 for 50%).

    Returns:
    pd.DataFrame: A new DataFrame with rows removed.
    """
    missing_fraction = df.isna().sum(axis=1) / df.shape[1]  # Calculate % of missing values per row
    df_cleaned = df[missing_fraction <= threshold]  # Keep rows where missing % is ≤ threshold
    return df_cleaned

def count_rows_with_missing_threshold(df, threshold):
    """
    Counts the number of rows where the percentage of missing values is greater than a given threshold.

    Parameters:
    df (pd.DataFrame): The input DataFrame.
    threshold (float): The fraction of missing values (default = 0.5 for 50%).

    Returns:
    int: The number of rows with more than threshold% missing values.
    """
    missing_fraction = df.isna().sum(axis=1) / df.shape[1]  # Calculate % of missing values per row
    count = (missing_fraction > threshold).sum()  # Count rows exceeding threshold
    return count


threshold=0.3
print('count_rows_with_missing_threshold:',count_rows_with_missing_threshold(df,threshold))
#df = drop_rows_with_missing_threshold(df, threshold)

def columns_with_missing_threshold(df, threshold=30):
    """
    Lists columns where the percentage of missing values exceeds a given threshold.

    Parameters:
    df (pd.DataFrame): The input DataFrame.
    threshold (float): The missing value percentage threshold (default = 30%).

    Returns:
    pd.Series: Columns and their missing percentage.
    """
    missing_percent = df.isnull().sum() * 100 / len(df)
    missing_above_threshold = missing_percent[missing_percent > threshold]

    return missing_above_threshold.sort_values(ascending=False)

# Example usage:
threshold = -1
 # Set threshold to 30%
missing_columns = columns_with_missing_threshold(df, threshold)

print(f"Columns with more than {threshold}% missing values:")
print(missing_columns)

df.shape

count_rows_with_missing_threshold: 3179
Columns with more than -1% missing values:
tce_match                 65.958333
mrd_hct                   57.628472
cyto_score_detail         41.399306
tce_div_match             39.569444
tce_imm_match             38.656250
cyto_score                28.013889
hla_high_res_10           24.871528
hla_high_res_8            20.239583
hla_high_res_6            18.347222
hla_match_dqb1_high       18.052083
hla_low_res_10            17.583333
conditioning_intensity    16.628472
hla_match_c_high          16.041667
hla_match_a_high          14.934028
hla_nmdp_6                14.572917
hla_match_dqb1_low        14.562500
hla_match_b_high          14.194444
hla_low_res_8             12.684028
hla_match_drb1_high       11.638889
hla_low_res_6             11.354167
hla_match_c_low            9.722222
hla_match_drb1_low         9.177083
hla_match_b_low            8.906250
cardiac                    8.826389
peptic_ulcer               8.399306
hla_match_a_low            8.298611
arrhythmia                 7.645833
rheum_issue                7.579861
rituximab                  7.458333
pulm_severe                7.413194
diabetes                   7.357639
psych_disturb              7.159722
pulm_moderate              7.107639
hepatic_mild               6.656250
renal_issue                6.649306
hepatic_severe             6.496528
donor_age                  6.277778
obesity                    6.111111
prior_tumor                5.826389
melphalan_dose             4.878472
karnofsky_score            3.020833
cmv_status                 2.201389
ethnicity                  2.038194
comorbidity_score          1.656250
sex_match                  0.906250
vent_hist                  0.899306
gvhd_proph                 0.781250
in_vivo_tcd                0.781250
donor_related              0.548611
dri_score                  0.534722
race_group                 0.000000
age_at_hct                 0.000000
prod_type                  0.000000
prim_disease_hct           0.000000
graft_type                 0.000000
tbi_status                 0.000000
efs                        0.000000
efs_time                   0.000000
dtype: float64

(28800, 58)

In [127]:
print_column_info(df,'tbi_status')

Column: tbi_status
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: ['No TBI' 'TBI +- Other, >cGy' 'TBI + Cy +- Other' 'TBI +- Other, <=cGy'
 'TBI +- Other, unknown dose' 'TBI +- Other, -cGy, fractionated'
 'TBI +- Other, -cGy, single' 'TBI +- Other, -cGy, unknown dose']

## Ordinal Columns Imputation (Generalized with mean median and mode)

### Predefined Functions

In [128]:


import pandas as pd
import numpy as np
from scipy.stats import f_oneway

def impute_missing_with_mean_efs(df, categorical_col, target_col="efs_time"):

    # Ensure the column exists
    if categorical_col not in df.columns:
        print(f"⚠️ Warning: Column '{categorical_col}' not found. Skipping...")
        return df, None

    print(f"\n🔹 Processing Column: {categorical_col}")

    # Step 1: Compute mean `efs_time` for each category
    mean_efs_time = df.groupby(categorical_col)[target_col].mean()
    print(f"\n📊 Mean `{target_col}` for each `{categorical_col}` category:\n{mean_efs_time}")

    # Step 2: Assign NaN values based on closest mean `efs_time`
    def assign_closest_category(row):
        if pd.isna(row[categorical_col]):
            closest_match = min(mean_efs_time.keys(), key=lambda x: abs(mean_efs_time[x] - row[target_col]))
            return closest_match
        return row[categorical_col]

    df[f"{categorical_col}_mean"] = df.apply(assign_closest_category, axis=1)



    # Step 3: Perform ANOVA test
    unique_categories = df[f"{categorical_col}_mean"].unique()
    groups = [df[df[f"{categorical_col}_mean"] == category][target_col] for category in unique_categories if not np.isnan(category)]

    if len(groups) > 1:
        f_stat, p_value = f_oneway(*groups)
        anova_result = {"F-statistic": f_stat, "p-value": p_value}
        print(f"\n📈 ANOVA Results: F-statistic = {f_stat:.4f}, p-value = {p_value:.4f}")
        return f_stat
    else:
        anova_result = {"F-statistic": np.nan, "p-value": np.nan}
        print("\n⚠️ Not enough categories for ANOVA test.")



def impute_missing_with_median_efs(df, categorical_col, target_col="efs_time"):

    # Ensure the column exists
    if categorical_col not in df.columns:
        print(f"⚠️ Warning: Column '{categorical_col}' not found. Skipping...")
        return df, None

    print(f"\n🔹 Processing Column: {categorical_col}")

    # Step 1: Compute median `efs_time` for each category
    median_efs_time = df.groupby(categorical_col)[target_col].median()
    print(f"\n📊 Median `{target_col}` for each `{categorical_col}` category:\n{median_efs_time}")

    # Step 2: Assign NaN values based on closest median `efs_time`
    def assign_closest_category(row):
        if pd.isna(row[categorical_col]):
            closest_match = min(median_efs_time.keys(), key=lambda x: abs(median_efs_time[x] - row[target_col]))
            return closest_match
        return row[categorical_col]

    df[f"{categorical_col}_median"] = df.apply(assign_closest_category, axis=1)

    # Step 3: Perform ANOVA test
    unique_categories = df[f"{categorical_col}_median"].unique()
    groups = [df[df[f"{categorical_col}_median"] == category][target_col] for category in unique_categories if not np.isnan(category)]

    if len(groups) > 1:
        f_stat, p_value = f_oneway(*groups)
        anova_result = {"F-statistic": f_stat, "p-value": p_value}
        print(f"\n📈 ANOVA Results: F-statistic = {f_stat:.4f}, p-value = {p_value:.4f}")
        return f_stat
    else:
        anova_result = {"F-statistic": np.nan, "p-value": np.nan}
        print("\n⚠️ Not enough categories for ANOVA test.")


def impute_missing_with_mode_efs(df, categorical_col, target_col="efs_time"):

    # Ensure the column exists
    if categorical_col not in df.columns:
        print(f"⚠️ Warning: Column '{categorical_col}' not found. Skipping...")
        return df, None

    print(f"\n🔹 Processing Column: {categorical_col}")

    # Step 1: Compute mode `efs_time` for each category
    mode_efs_time = df.groupby(categorical_col)[target_col].agg(lambda x: mode(x.dropna(), keepdims=True).mode[0])
    print(f"\n📊 Mode `{target_col}` for each `{categorical_col}` category:\n{mode_efs_time}")

    # Step 2: Assign NaN values based on closest mode `efs_time`
    def assign_closest_category(row):
        if pd.isna(row[categorical_col]):
            closest_match = min(mode_efs_time.keys(), key=lambda x: abs(mode_efs_time[x] - row[target_col]))
            return closest_match
        return row[categorical_col]

    df[f"{categorical_col}_mode"] = df.apply(assign_closest_category, axis=1)

    # Step 3: Perform ANOVA test
    unique_categories = df[f"{categorical_col}_mode"].unique()
    groups = [df[df[f"{categorical_col}_mode"] == category][target_col] for category in unique_categories if not np.isnan(category)]

    if len(groups) > 1:
        f_stat, p_value = f_oneway(*groups)
        anova_result = {"F-statistic": f_stat, "p-value": p_value}
        print(f"\n📈 ANOVA Results: F-statistic = {f_stat:.4f}, p-value = {p_value:.4f}")
        return f_stat
    else:
        anova_result = {"F-statistic": np.nan, "p-value": np.nan}
        print("\n⚠️ Not enough categories for ANOVA test.")

def ordinal_central_imputation(df,attribute):
  f_stat_mean=impute_missing_with_mean_efs(df, attribute) # will add hla_low_res_6_mean
  f_stat_median=impute_missing_with_median_efs(df, attribute) # will add hla_low_res_6_median
  f_stat_mode=impute_missing_with_mode_efs(df, attribute) # will add hla_low_res_6_mode

  print(f_stat_mean,f_stat_median,f_stat_mode)


  if f_stat_mean>f_stat_median and f_stat_mean>f_stat_mode:
    print(attribute+" is imputed with mean !")
    df.drop(columns=[attribute],inplace=True)
    df.drop(columns=[attribute+'_median'],inplace=True)
    df.drop(columns=[attribute+'_mode'],inplace=True)
  elif f_stat_median>f_stat_mean and f_stat_median>f_stat_mode:
    print(attribute+" is imputed with median !")
    df.drop(columns=[attribute],inplace=True)
    df.drop(columns=[attribute+'_mean'],inplace=True)
    df.drop(columns=[attribute+'_mode'],inplace=True)
  else:
    print(attribute+" is imputed with mode !")
    df.drop(columns=[attribute],inplace=True)
    df.drop(columns=[attribute+'_mean'],inplace=True)
    df.drop(columns=[attribute+'_median'],inplace=True)


def value_percentage(df, column):
    """
    Computes the percentage of each unique value in a specified column.

    Parameters:
    df (pd.DataFrame): The input DataFrame.
    column (str): The column to analyze.

    Returns:
    pd.DataFrame: A DataFrame showing each unique value and its percentage.
    """
    if column not in df.columns:
        print(f"⚠️ Warning: Column '{column}' not found in DataFrame.")
        return None

    value_counts = df[column].value_counts(dropna=False)  # Include NaNs
    total = len(df)  # Total number of entries
    percentage = (value_counts / total) * 100  # Compute percentage

    result = pd.DataFrame({'Value': value_counts.index, 'Count': value_counts.values, 'Percentage': percentage.values})

    return result.sort_values(by="Percentage", ascending=False)


#ordinal_central_imputation(df,'hla_low_res_6')
#print(df.shape)
#df['hla_low_res_6_mean']

###HLA_LOW_RES_6

In [129]:
ordinal_central_imputation(df,'hla_low_res_6') #HLA_LOW_RES_6

🔹 Processing Column: hla_low_res_6

📊 Mean `efs_time` for each `hla_low_res_6` category:
hla_low_res_6
2.0    18.233273
3.0    21.218795
4.0    23.470514
5.0    23.510732
6.0    23.466899
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 347.4041, p-value = 0.0000

🔹 Processing Column: hla_low_res_6

📊 Median `efs_time` for each `hla_low_res_6` category:
hla_low_res_6
2.0    13.762
3.0    10.938
4.0    12.814
5.0    11.301
6.0     9.075
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 334.5392, p-value = 0.0000

🔹 Processing Column: hla_low_res_6

📊 Mode `efs_time` for each `hla_low_res_6` category:
hla_low_res_6
2.0    3.559
3.0    2.783
4.0    3.524
5.0    4.603
6.0    5.697
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 35.9053, p-value = 0.0000
347.40414479680646 334.5391571564707 35.90529245642989
hla_low_res_6 is imputed with mean !

###HLA_LOW_RES_8

In [130]:
ordinal_central_imputation(df,'hla_low_res_8') #HLA_LOW_RES_8

🔹 Processing Column: hla_low_res_8

📊 Mean `efs_time` for each `hla_low_res_8` category:
hla_low_res_8
2.0    11.129000
3.0    27.804870
4.0    20.678712
5.0    23.297507
6.0    23.093081
7.0    23.702201
8.0    23.549949
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 522.0632, p-value = 0.0000

🔹 Processing Column: hla_low_res_8

📊 Median `efs_time` for each `hla_low_res_8` category:
hla_low_res_8
2.0    11.1290
3.0    17.3440
4.0    10.2870
5.0    12.6970
6.0    11.8695
7.0    11.4410
8.0     9.0990
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 267.9745, p-value = 0.0000

🔹 Processing Column: hla_low_res_8

📊 Mode `efs_time` for each `hla_low_res_8` category:
hla_low_res_8
2.0    11.129
3.0     3.559
4.0     2.783
5.0     1.542
6.0     3.524
7.0     4.603
8.0     5.229
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 157.4596, p-value = 0.0000
522.063189870485 267.9745123026222 157.45955371588437
hla_low_res_8 is imputed with mean !

###HLA_LOW_RES_10

In [131]:
ordinal_central_imputation(df,'hla_low_res_10') #HLA_LOW_RES_10

🔹 Processing Column: hla_low_res_10

📊 Mean `efs_time` for each `hla_low_res_10` category:
hla_low_res_10
4.0     22.124731
5.0     20.383799
6.0     23.087972
7.0     22.800768
8.0     23.129648
9.0     23.384179
10.0    23.446296
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 213.4604, p-value = 0.0000

🔹 Processing Column: hla_low_res_10

📊 Median `efs_time` for each `hla_low_res_10` category:
hla_low_res_10
4.0     13.2995
5.0     10.3350
6.0     14.8620
7.0     11.6730
8.0     11.9770
9.0     10.6555
10.0     9.0565
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 252.0676, p-value = 0.0000

🔹 Processing Column: hla_low_res_10

📊 Mode `efs_time` for each `hla_low_res_10` category:
hla_low_res_10
4.0     2.931
5.0     3.413
6.0     4.999
7.0     1.542
8.0     3.524
9.0     5.679
10.0    5.643
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 74.3242, p-value = 0.0000
213.46040138010827 252.0676020277225 74.32416789355112
hla_low_res_10 is imputed with median !

###HLA_HIGH_RES_6

In [132]:
ordinal_central_imputation(df,'hla_high_res_6') #HLA_HIGH_RES_6

🔹 Processing Column: hla_high_res_6

📊 Mean `efs_time` for each `hla_high_res_6` category:
hla_high_res_6
0.0    21.476000
2.0    31.504326
3.0    20.981260
4.0    22.404840
5.0    23.843146
6.0    23.433675
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 854.9127, p-value = 0.0000

🔹 Processing Column: hla_high_res_6

📊 Median `efs_time` for each `hla_high_res_6` category:
hla_high_res_6
0.0    21.4760
2.0    18.9160
3.0    11.1855
4.0    11.1885
5.0    10.3435
6.0     9.1890
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 594.2994, p-value = 0.0000

🔹 Processing Column: hla_high_res_6

📊 Mode `efs_time` for each `hla_high_res_6` category:
hla_high_res_6
0.0    21.476
2.0     2.101
3.0     4.585
4.0     4.248
5.0     4.844
6.0     5.643
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 517.4071, p-value = 0.0000
854.9127320539696 594.2993591962048 517.4070622455131
hla_high_res_6 is imputed with mean !

###HLA_HIGH_RES_8

In [133]:
ordinal_central_imputation(df,'hla_high_res_8') #HLA_HIGH_RES_8

🔹 Processing Column: hla_high_res_8

📊 Mean `efs_time` for each `hla_high_res_8` category:
hla_high_res_8
2.0    31.431000
3.0    30.712964
4.0    20.657451
5.0    22.363676
6.0    22.893539
7.0    23.446006
8.0    23.418360
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 890.7311, p-value = 0.0000

🔹 Processing Column: hla_high_res_8

📊 Median `efs_time` for each `hla_high_res_8` category:
hla_high_res_8
2.0    31.4310
3.0    22.7080
4.0    10.9480
5.0    11.8870
6.0    11.6545
7.0     9.9170
8.0     9.1315
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 678.6708, p-value = 0.0000

🔹 Processing Column: hla_high_res_8

📊 Mode `efs_time` for each `hla_high_res_8` category:
hla_high_res_8
2.0    21.476
3.0     2.101
4.0     7.468
5.0     4.853
6.0     1.788
7.0     2.827
8.0     5.643
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 529.9959, p-value = 0.0000
890.731073005236 678.6708498668667 529.9959481391899
hla_high_res_8 is imputed with mean !

###HLA_HIGH_RES_10

In [134]:
ordinal_central_imputation(df,'hla_high_res_10') #HLA_HIGH_RES_10

🔹 Processing Column: hla_high_res_10

📊 Mean `efs_time` for each `hla_high_res_10` category:
hla_high_res_10
3.0     41.386000
4.0     24.235600
5.0     20.615434
6.0     23.012984
7.0     22.140532
8.0     22.611349
9.0     24.057585
10.0    23.229578
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 1066.1293, p-value = 0.0000

🔹 Processing Column: hla_high_res_10

📊 Median `efs_time` for each `hla_high_res_10` category:
hla_high_res_10
3.0     41.3860
4.0     16.6590
5.0     11.6040
6.0     13.4300
7.0     10.9570
8.0     11.8085
9.0     10.0350
10.0     9.0665
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 813.8336, p-value = 0.0000

🔹 Processing Column: hla_high_res_10

📊 Mode `efs_time` for each `hla_high_res_10` category:
hla_high_res_10
3.0     41.386
4.0      2.101
5.0      7.468
6.0      3.822
7.0      2.617
8.0      5.679
9.0      4.844
10.0     5.643
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 779.0476, p-value = 0.0000
1066.1292656862727 813.8336347707979 779.0475578437157
hla_high_res_10 is imputed with mean !

###DRI_SCORE

<table><thead><tr><th>Original Value</th><th>Consolidated Value</th></tr></thead><tbody><tr><td><code>Intermediate</code></td><td><code>Intermediate</code></td></tr><tr><td><code>High</code></td><td><code>High</code></td></tr><tr><td><code>Low</code></td><td><code>Low</code></td></tr><tr><td><code>Very high</code></td><td><code>Very high</code></td></tr><tr><td><code>N/A - non-malignant indication</code></td><td><code>Non-malignant</code></td></tr><tr><td><code>N/A - pediatric</code></td><td><code>Pediatric</code></td></tr><tr><td><code>N/A - disease not classifiable</code></td><td><code>Unclassifiable</code></td></tr><tr><td><code>TBD cytogenetics</code></td><td><code>Uncertain</code></td></tr><tr><td><code>Intermediate - TED AML case &lt;missing cytogenetics</code></td><td><code>Intermediate - Missing</code></td></tr><tr><td><code>High - TED AML case &lt;missing cytogenetics</code></td><td><code>High - Missing</code></td></tr><tr><td><code>Missing disease status</code>, <code>nan</code></td><td><code>Missing</code></td></tr></tbody></table>

In [135]:



risk_mapping = {
    "Low": 1,
    "Intermediate": 2,
    "High": 3,
    "Very high": 4,
    "N/A - non-malignant indication": 0,
    "N/A - pediatric": 0,
    "N/A - disease not classifiable": 0,
    "TBD cytogenetics": -1,
    "Intermediate - TED AML case <missing cytogenetics": 2,
    "High - TED AML case <missing cytogenetics": 3,
    "Missing disease status": -1,


}

# Apply the mapping to the dri_score column
df['dri_score_encoded'] = df['dri_score'].map(risk_mapping)
df = df.drop(columns=['dri_score']).rename(columns={'dri_score_encoded': 'dri_score'})
print_column_info(df, 'dri_score')
ordinal_central_imputation(df,'dri_score') #dri_score

Column: dri_score
Total Entries: 28800
Non-NaN Values: 28646
Missing (NaN) Values: 154
Missing (NaN) Values %: 0.5347222222222222
Unique_values: [ 0.  2.  3.  1. -1. nan  4.]

🔹 Processing Column: dri_score

📊 Mean `efs_time` for each `dri_score` category:
dri_score
-1.0    26.389308
 0.0    27.021007
 1.0    24.333374
 2.0    22.425626
 3.0    18.569625
 4.0    23.410646
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 96.7833, p-value = 0.0000

🔹 Processing Column: dri_score

📊 Median `efs_time` for each `dri_score` category:
dri_score
-1.0    22.382
 0.0    22.669
 1.0     8.986
 2.0     9.106
 3.0     6.487
 4.0    20.608
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 96.1600, p-value = 0.0000

🔹 Processing Column: dri_score

📊 Mode `efs_time` for each `dri_score` category:
dri_score
-1.0    4.162
 0.0    4.206
 1.0    5.570
 2.0    5.886
 3.0    3.944
 4.0    3.419
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 88.1901, p-value = 0.0000
96.78334512211194 96.16004181167047 88.1900939631266
dri_score is imputed with mean !

###KARNOFSKY_SCORE

In [136]:

# Define ordinal encoding (higher score = better functional status)
karnofsky_mapping = {40: 1, 50: 2, 60: 3, 70: 4, 80: 5, 90: 6, 100: 7}
# Apply encoding

df["karnofsky_encoded"] = df["karnofsky_score"].map(karnofsky_mapping)
df = df.drop(columns=['karnofsky_score']).rename(columns={'karnofsky_encoded': 'karnofsky_score'})
print_column_info(df, 'karnofsky_score')
ordinal_central_imputation(df,'karnofsky_score') #dri_score

Column: karnofsky_score
Total Entries: 28800
Non-NaN Values: 27930
Missing (NaN) Values: 870
Missing (NaN) Values %: 3.0208333333333335
Unique_values: [ 6.  4.  7.  5.  3. nan  2.  1.]

🔹 Processing Column: karnofsky_score

📊 Mean `efs_time` for each `karnofsky_score` category:
karnofsky_score
1.0    16.722000
2.0    23.011099
3.0    16.199071
4.0    20.619745
5.0    18.939793
6.0    25.048464
7.0    25.196491
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 100.2882, p-value = 0.0000

🔹 Processing Column: karnofsky_score

📊 Median `efs_time` for each `karnofsky_score` category:
karnofsky_score
1.0     4.3715
2.0    15.4210
3.0     6.3440
4.0     7.7255
5.0     7.4415
6.0    12.4000
7.0    14.4580
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 128.4659, p-value = 0.0000

🔹 Processing Column: karnofsky_score

📊 Mode `efs_time` for each `karnofsky_score` category:
karnofsky_score
1.0    2.940
2.0    0.711
3.0    3.920
4.0    4.727
5.0    4.181
6.0    5.608
7.0    5.360
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 74.2827, p-value = 0.0000
100.28816509313388 128.46594099717854 74.28274492095358
karnofsky_score is imputed with median !

###CYTO SCORE

In [137]:
ordinal_mapping = {
    "Favorable": 1,
    "Normal": 2,
    "Intermediate": 3,
    "Intermed": 3,  # Treat "Intermed" as the same as "Intermediate"
    "Other": 4,
    "Poor": 5,
    "TBD": -1,  # Uncertain or pending information
    "Not tested": -2,  # Explicitly not tested
}


# Apply ordinal encoding
df['cyto_score_encoded'] = df['cyto_score'].map(ordinal_mapping)
df = df.drop(columns=['cyto_score']).rename(columns={'cyto_score_encoded': 'cyto_score'})
print_column_info(df, 'cyto_score')
ordinal_central_imputation(df,'cyto_score') #dri_score

Column: cyto_score
Total Entries: 28800
Non-NaN Values: 20732
Missing (NaN) Values: 8068
Missing (NaN) Values %: 28.01388888888889
Unique_values: [nan  3.  5.  4.  1. -1.  2. -2.]

🔹 Processing Column: cyto_score

📊 Mean `efs_time` for each `cyto_score` category:
cyto_score
-2.0    17.134509
-1.0    20.765511
 1.0    21.669372
 2.0    20.655767
 3.0    23.047461
 4.0    21.481250
 5.0    19.466522
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 602.0021, p-value = 0.0000

🔹 Processing Column: cyto_score

📊 Median `efs_time` for each `cyto_score` category:
cyto_score
-2.0    9.2830
-1.0    8.7490
 1.0    8.4710
 2.0    8.7350
 3.0    8.7250
 4.0    8.6465
 5.0    7.2835
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 659.0907, p-value = 0.0000

🔹 Processing Column: cyto_score

📊 Mode `efs_time` for each `cyto_score` category:
cyto_score
-2.0    0.698
-1.0    5.381
 1.0    6.886
 2.0    5.617
 3.0    5.886
 4.0    5.423
 5.0    5.697
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 340.3752, p-value = 0.0000
602.0020832865505 659.0906511270937 340.375210538051
cyto_score is imputed with median !

****

###COMORBIDITY SCORE

In [138]:

comorbidity_mapping = {
    0: 1,  1: 2,  2: 3,  3: 4,  4: 5,
    5: 6,  6: 7,  7: 8,  8: 9,  9: 10,
    10: 11
}

df['comorbidity_score_encoded'] = df['comorbidity_score'].map(comorbidity_mapping)
df = df.drop(columns=['comorbidity_score']).rename(columns={'comorbidity_score_encoded': 'comorbidity_score'})
print_column_info(df, 'comorbidity_score')
ordinal_central_imputation(df,'comorbidity_score')

Column: comorbidity_score
Total Entries: 28800
Non-NaN Values: 28323
Missing (NaN) Values: 477
Missing (NaN) Values %: 1.65625
Unique_values: [ 1.  4.  2.  3.  7.  5.  8. nan  6.  9. 10. 11.]

🔹 Processing Column: comorbidity_score

📊 Mean `efs_time` for each `comorbidity_score` category:
comorbidity_score
1.0     26.632096
2.0     23.847636
3.0     22.326067
4.0     21.005954
5.0     19.048466
6.0     17.461219
7.0     14.463210
8.0     14.686870
9.0     12.700505
10.0    12.304568
11.0     9.977671
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 79.0759, p-value = 0.0000

🔹 Processing Column: comorbidity_score

📊 Median `efs_time` for each `comorbidity_score` category:
comorbidity_score
1.0     15.4810
2.0     11.2265
3.0      9.5710
4.0      8.2755
5.0      7.4320
6.0      6.8600
7.0      6.0220
8.0      5.5755
9.0      5.5140
10.0     5.1190
11.0     4.9045
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 76.0966, p-value = 0.0000

🔹 Processing Column: comorbidity_score

📊 Mode `efs_time` for each `comorbidity_score` category:
comorbidity_score
1.0     5.518
2.0     4.347
3.0     5.467
4.0     4.052
5.0     7.346
6.0     5.583
7.0     1.331
8.0     2.207
9.0     4.698
10.0    1.152
11.0    1.119
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 61.8074, p-value = 0.0000
79.07586823670466 76.09659417765539 61.80736762565431
comorbidity_score is imputed with mean !

****

###CONDITIONAL INTENSITY

<table><thead><tr><th><strong>Category</strong></th><th><strong>Description</strong></th><th><strong>Encoding Value</strong></th></tr></thead><tbody><tr><td><strong>MAC (Myeloablative Conditioning)</strong></td><td>High-intensity conditioning, most toxic</td><td><strong>3</strong></td></tr><tr><td><strong>RIC (Reduced-Intensity Conditioning)</strong></td><td>Medium-intensity conditioning</td><td><strong>2</strong></td></tr><tr><td><strong>NMA (Non-Myeloablative Conditioning)</strong></td><td>Lowest-intensity conditioning</td><td><strong>1</strong></td></tr><tr><td><strong>TBD (To Be Determined)</strong></td><td>Data not confirmed yet</td><td><strong>-1</strong></td></tr><tr><td><strong>No drugs reported</strong></td><td>No conditioning drugs given</td><td><strong>0</strong></td></tr><tr><td><strong>N/A, F(pre-TED) not submitted</strong></td><td>Data not available</td><td><strong>-2</strong></td></tr></tbody></table>

In [139]:

conditioning_mapping = {
    "MAC": 3,
    "RIC": 2,
    "NMA": 1,
    "TBD": -1,  # Uncertain information
    "No drugs reported": 0,  # No drugs given
    "N/A, F(pre-TED) not submitted": -2  # Data missing or not submitted
}


df['conditioning_intensity_encoded'] = df['conditioning_intensity'].map(conditioning_mapping)
df = df.drop(columns=['conditioning_intensity']).rename(columns={'conditioning_intensity_encoded': 'conditioning_intensity'})
print_column_info(df, 'conditioning_intensity')
ordinal_central_imputation(df,'conditioning_intensity')

Column: conditioning_intensity
Total Entries: 28800
Non-NaN Values: 24011
Missing (NaN) Values: 4789
Missing (NaN) Values %: 16.62847222222222
Unique_values: [nan  3.  2.  1. -1.  0. -2.]

🔹 Processing Column: conditioning_intensity

📊 Mean `efs_time` for each `conditioning_intensity` category:
conditioning_intensity
-2.0    22.699952
-1.0    21.135466
 0.0    20.240149
 1.0    22.662887
 2.0    17.521884
 3.0    22.951099
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 265.5507, p-value = 0.0000

🔹 Processing Column: conditioning_intensity

📊 Median `efs_time` for each `conditioning_intensity` category:
conditioning_intensity
-2.0    11.0875
-1.0     8.2240
 0.0    10.3700
 1.0     8.7120
 2.0     7.0450
 3.0     9.0605
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 587.8296, p-value = 0.0000

🔹 Processing Column: conditioning_intensity

📊 Mode `efs_time` for each `conditioning_intensity` category:
conditioning_intensity
-2.0    2.043
-1.0    4.197
 0.0    2.106
 1.0    4.869
 2.0    5.643
 3.0    4.603
Name: efs_time, dtype: float64

📈 ANOVA Results: F-statistic = 32.4602, p-value = 0.0000
265.55066193850377 587.8295568604586 32.460162978257095
conditioning_intensity is imputed with median !

##Nominal Data Imputation for categorical variable

###PSYCH DISTURB

<table><thead><tr><th><strong>psych_disturb</strong></th><th><strong>Meaning</strong></th></tr></thead><tbody><tr><td><code>Yes</code></td><td>The patient has a psychiatric disturbance.</td></tr><tr><td><code>No</code></td><td>No psychiatric disturbance is present.</td></tr><tr><td><code>Not done</code></td><td>The patient was not evaluated for psychiatric disturbances.</td></tr><tr><td><code>nan</code></td><td>Missing or unknown information.</td></tr></tbody></table>

In [140]:
# psych_disturb encoding for Yes and No
psych_disturb_mapping = {"Yes": 1, "No": 0}
df['psych_disturb_binary'] = df['psych_disturb'].map(psych_disturb_mapping)

# One-hot encoding for Not done and Missing (NaN)
df['psych_disturb'] = df['psych_disturb'].fillna('Missing')  # Replace NaN with 'Missing'
psych_disturb_one_hot = pd.get_dummies(df['psych_disturb'], prefix='psych_disturb', columns=['Not done', 'Missing'])

# Combine both encodings
df = pd.concat([df, psych_disturb_one_hot], axis=1)

# Drop the original 'psych_disturb' column if not needed
df = df.drop(columns=['psych_disturb'])

###DIABETES

<table><thead><tr><th>diabetes_No</th><th>diabetes_Yes</th><th>diabetes_Not done</th><th>diabetes_nan</th></tr></thead><tbody><tr><td>1</td><td>0</td><td>0</td><td>0</td></tr><tr><td>0</td><td>1</td><td>0</td><td>0</td></tr><tr><td>0</td><td>0</td><td>1</td><td>0</td></tr><tr><td>0</td><td>0</td><td>0</td><td>1</td></tr></tbody></table>

In [141]:
#%%script echo skipping


# Binary encoding for Yes and No
binary_mapping = {"Yes": 1, "No": 0}
df['diabetes_binary'] = df['diabetes'].map(binary_mapping)

# One-hot encoding for Not done and Missing (NaN)
df['diabetes'] = df['diabetes'].fillna('Missing')  # Replace NaN with 'Missing'
diabetes_one_hot = pd.get_dummies(df['diabetes'], prefix='diabetes', columns=['Not done', 'Missing'])

# Combine both encodings
df = pd.concat([df, diabetes_one_hot], axis=1)

# Drop the original 'diabetes' column if not needed

### HEPATIC SEVERE

In [142]:
# Binary encoding for Yes and No
binary_mapping = {"Yes": 1, "No": 0}
df['hepatic_severe_binary'] = df['hepatic_severe'].map(binary_mapping)

# One-hot encoding for Not done and Missing (NaN)
df['hepatic_severe'] = df['hepatic_severe'].fillna('Missing')  # Replace NaN with 'Missing'
hepatic_severe_one_hot = pd.get_dummies(df['hepatic_severe'], prefix='hepatic_severe', columns=['Not done', 'Missing'])

# Combine both encodings
df = pd.concat([df, hepatic_severe_one_hot], axis=1)

# Drop the original 'hepatic_severe' column if not needed
df = df.drop(columns=['hepatic_severe'])

###PULM SEVERE

In [143]:
# Binary encoding for Yes and No
binary_mapping = {"Yes": 1, "No": 0}
df['pulm_severe_binary'] = df['pulm_severe'].map(binary_mapping)

# One-hot encoding for Not done and Missing (NaN)
df['pulm_severe'] = df['pulm_severe'].fillna('Missing')  # Replace NaN with 'Missing'
pulm_severe_one_hot = pd.get_dummies(df['pulm_severe'], prefix='pulm_severe', columns=['Not done', 'Missing'])

# Combine both encodings
df = pd.concat([df, pulm_severe_one_hot], axis=1)

# Drop the original 'pulm_severe' column if not needed
df = df.drop(columns=['pulm_severe'])

###OBESITY

In [144]:

# Binary encoding for Yes and No
binary_mapping = {"Yes": 1, "No": 0}
df['obesity_binary'] = df['obesity'].map(binary_mapping)

# One-hot encoding for Not done and Missing (NaN)
df['obesity'] = df['obesity'].fillna('Missing')  # Replace NaN with 'Missing'
obesity_one_hot = pd.get_dummies(df['obesity'], prefix='obesity', columns=['Not done', 'Missing'])

# Combine both encodings
df = pd.concat([df, obesity_one_hot], axis=1)

# Drop the original 'obesity' column if not needed
df = df.drop(columns=['obesity'])

###MRD HCT

In [156]:
data=df
# Binary encoding for Yes and No
binary_mapping = {"Yes": 1, "No": 0}
df['mrd_hct'] = df['mrd_hct'].map(binary_mapping)

# One-hot encoding for Not done and Missing (NaN)
df['mrd_hct'] = df['mrd_hct'].fillna('Missing')  # Replace NaN with 'Missing'
mrd_hct_one_hot = pd.get_dummies(df['mrd_hct'], prefix='mrd_hct', columns=['Not done', 'Missing'])

# Combine both encodings
df = pd.concat([df, mrd_hct_one_hot], axis=1)

# Drop the original 'mrd_hct' column if not needed
df = df.drop(columns=['mrd_hct'])

##FINAL PREPROCESSED DATA

In [157]:
for col in df.columns:
  print(print_column_info(df,col))

Column: diabetes
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: ['No' 'Yes' 'Not done' 'Missing']
None
Column: hla_match_c_high
Total Entries: 28800
Non-NaN Values: 24180
Missing (NaN) Values: 4620
Missing (NaN) Values %: 16.041666666666668
Unique_values: [nan  2.  1.  0.]
None
Column: tbi_status
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: ['No TBI' 'TBI +- Other, >cGy' 'TBI + Cy +- Other' 'TBI +- Other, <=cGy'
 'TBI +- Other, unknown dose' 'TBI +- Other, -cGy, fractionated'
 'TBI +- Other, -cGy, single' 'TBI +- Other, -cGy, unknown dose']
None
Column: arrhythmia
Total Entries: 28800
Non-NaN Values: 26598
Missing (NaN) Values: 2202
Missing (NaN) Values %: 7.645833333333334
Unique_values: ['No' 'Yes' nan 'Not done']
None
Column: graft_type
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: ['Bone marrow' 'Peripheral blood']
None
Column: vent_hist
Total Entries: 28800
Non-NaN Values: 28541
Missing (NaN) Values: 259
Missing (NaN) Values %: 0.8993055555555556
Unique_values: ['No' 'Yes' nan]
None
Column: renal_issue
Total Entries: 28800
Non-NaN Values: 26885
Missing (NaN) Values: 1915
Missing (NaN) Values %: 6.649305555555555
Unique_values: ['No' nan 'Yes' 'Not done']
None
Column: prim_disease_hct
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: ['IEA' 'AML' 'HIS' 'ALL' 'MPN' 'IIS' 'Solid tumor' 'Other leukemia' 'PCD'
 'IPA' 'IMD' 'MDS' 'NHL' 'SAA' 'AI' 'CML' 'Other acute leukemia' 'HD']
None
Column: cmv_status
Total Entries: 28800
Non-NaN Values: 28166
Missing (NaN) Values: 634
Missing (NaN) Values %: 2.201388888888889
Unique_values: ['+/+' '-/+' '-/-' nan '+/-']
None
Column: hla_match_dqb1_high
Total Entries: 28800
Non-NaN Values: 23601
Missing (NaN) Values: 5199
Missing (NaN) Values %: 18.052083333333332
Unique_values: [ 2.  1. nan  0.]
None
Column: tce_imm_match
Total Entries: 28800
Non-NaN Values: 17667
Missing (NaN) Values: 11133
Missing (NaN) Values %: 38.65625
Unique_values: [nan 'P/P' 'G/B' 'H/B' 'G/G' 'P/H' 'P/B' 'H/H' 'P/G']
None
Column: hla_nmdp_6
Total Entries: 28800
Non-NaN Values: 24603
Missing (NaN) Values: 4197
Missing (NaN) Values %: 14.572916666666666
Unique_values: [ 6.  5.  3. nan  4.  2.]
None
Column: hla_match_c_low
Total Entries: 28800
Non-NaN Values: 26000
Missing (NaN) Values: 2800
Missing (NaN) Values %: 9.722222222222223
Unique_values: [ 2.  1. nan  0.]
None
Column: rituximab
Total Entries: 28800
Non-NaN Values: 26652
Missing (NaN) Values: 2148
Missing (NaN) Values %: 7.458333333333334
Unique_values: ['No' nan 'Yes']
None
Column: hla_match_drb1_low
Total Entries: 28800
Non-NaN Values: 26157
Missing (NaN) Values: 2643
Missing (NaN) Values %: 9.177083333333332
Unique_values: [ 2.  1. nan]
None
Column: hla_match_dqb1_low
Total Entries: 28800
Non-NaN Values: 24606
Missing (NaN) Values: 4194
Missing (NaN) Values %: 14.5625
Unique_values: [ 2.  1. nan  0.]
None
Column: prod_type
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: ['BM' 'PB']
None
Column: cyto_score_detail
Total Entries: 28800
Non-NaN Values: 16877
Missing (NaN) Values: 11923
Missing (NaN) Values %: 41.39930555555556
Unique_values: [nan 'Intermediate' 'TBD' 'Poor' 'Favorable' 'Not tested']
None
Column: ethnicity
Total Entries: 28800
Non-NaN Values: 28213
Missing (NaN) Values: 587
Missing (NaN) Values %: 2.0381944444444446
Unique_values: ['Not Hispanic or Latino' 'Hispanic or Latino' nan
 'Non-resident of the U.S.']
None
Column: in_vivo_tcd
Total Entries: 28800
Non-NaN Values: 28575
Missing (NaN) Values: 225
Missing (NaN) Values %: 0.78125
Unique_values: ['Yes' 'No' nan]
None
Column: tce_match
Total Entries: 28800
Non-NaN Values: 9804
Missing (NaN) Values: 18996
Missing (NaN) Values %: 65.95833333333333
Unique_values: [nan 'Permissive' 'HvG non-permissive' 'Fully matched'
 'GvH non-permissive']
None
Column: hla_match_a_high
Total Entries: 28800
Non-NaN Values: 24499
Missing (NaN) Values: 4301
Missing (NaN) Values %: 14.934027777777779
Unique_values: [ 2.  1. nan  0.]
None
Column: donor_age
Total Entries: 28800
Non-NaN Values: 26992
Missing (NaN) Values: 1808
Missing (NaN) Values %: 6.277777777777778
Unique_values: [   nan 72.29  29.23  ... 24.417 30.77  30.571]
None
Column: prior_tumor
Total Entries: 28800
Non-NaN Values: 27122
Missing (NaN) Values: 1678
Missing (NaN) Values %: 5.826388888888888
Unique_values: ['No' 'Yes' nan 'Not done']
None
Column: hla_match_b_low
Total Entries: 28800
Non-NaN Values: 26235
Missing (NaN) Values: 2565
Missing (NaN) Values %: 8.90625
Unique_values: [ 2.  1. nan  0.]
None
Column: peptic_ulcer
Total Entries: 28800
Non-NaN Values: 26381
Missing (NaN) Values: 2419
Missing (NaN) Values %: 8.399305555555555
Unique_values: ['No' nan 'Yes' 'Not done']
None
Column: age_at_hct
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [ 9.942 43.705 33.997 ... 16.695 17.58  13.988]
None
Column: hla_match_a_low
Total Entries: 28800
Non-NaN Values: 26410
Missing (NaN) Values: 2390
Missing (NaN) Values %: 8.29861111111111
Unique_values: [ 2.  1. nan  0.]
None
Column: gvhd_proph
Total Entries: 28800
Non-NaN Values: 28575
Missing (NaN) Values: 225
Missing (NaN) Values %: 0.78125
Unique_values: ['FKalone' 'Other GVHD Prophylaxis' 'Cyclophosphamide alone'
 'FK+ MMF +- others' 'TDEPLETION +- other' 'CSA + MMF +- others(not FK)'
 'CSA + MTX +- others(not MMF,FK)' 'FK+ MTX +- others(not MMF)'
 'Cyclophosphamide +- others' 'CSA alone' nan 'TDEPLETION alone'
 'No GvHD Prophylaxis' 'CDselect alone' 'CDselect +- other'
 'Parent Q = yes, but no agent' 'FK+- others(not MMF,MTX)'
 'CSA +- others(not FK,MMF,MTX)']
None
Column: rheum_issue
Total Entries: 28800
Non-NaN Values: 26617
Missing (NaN) Values: 2183
Missing (NaN) Values %: 7.579861111111111
Unique_values: ['No' nan 'Yes' 'Not done']
None
Column: sex_match
Total Entries: 28800
Non-NaN Values: 28539
Missing (NaN) Values: 261
Missing (NaN) Values %: 0.9062499999999999
Unique_values: ['M-F' 'F-F' 'F-M' 'M-M' nan]
None
Column: hla_match_b_high
Total Entries: 28800
Non-NaN Values: 24712
Missing (NaN) Values: 4088
Missing (NaN) Values %: 14.194444444444446
Unique_values: [ 2.  1. nan  0.]
None
Column: race_group
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: ['More than one race' 'Asian' 'White' 'American Indian or Alaska Native'
 'Native Hawaiian or other Pacific Islander' 'Black or African-American']
None
Column: hepatic_mild
Total Entries: 28800
Non-NaN Values: 26883
Missing (NaN) Values: 1917
Missing (NaN) Values %: 6.65625
Unique_values: ['No' 'Yes' nan 'Not done']
None
Column: tce_div_match
Total Entries: 28800
Non-NaN Values: 17404
Missing (NaN) Values: 11396
Missing (NaN) Values %: 39.56944444444444
Unique_values: [nan 'Permissive mismatched' 'GvH non-permissive' 'HvG non-permissive'
 'Bi-directional non-permissive']
None
Column: donor_related
Total Entries: 28800
Non-NaN Values: 28642
Missing (NaN) Values: 158
Missing (NaN) Values %: 0.548611111111111
Unique_values: ['Unrelated' 'Related' 'Multiple donor (non-UCB)' nan]
None
Column: melphalan_dose
Total Entries: 28800
Non-NaN Values: 27395
Missing (NaN) Values: 1405
Missing (NaN) Values %: 4.878472222222222
Unique_values: ['N/A, Mel not given' 'MEL' nan]
None
Column: cardiac
Total Entries: 28800
Non-NaN Values: 26258
Missing (NaN) Values: 2542
Missing (NaN) Values %: 8.82638888888889
Unique_values: ['No' 'Yes' 'Not done' nan]
None
Column: hla_match_drb1_high
Total Entries: 28800
Non-NaN Values: 25448
Missing (NaN) Values: 3352
Missing (NaN) Values %: 11.63888888888889
Unique_values: [ 2.  1. nan  0.]
None
Column: pulm_moderate
Total Entries: 28800
Non-NaN Values: 26753
Missing (NaN) Values: 2047
Missing (NaN) Values %: 7.107638888888888
Unique_values: ['No' 'Yes' 'Not done' nan]
None
Column: efs
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [False  True]
None
Column: efs_time
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [42.356  4.672 19.793 ... 23.157 52.351 25.158]
None
Column: hla_low_res_6_mean
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [6. 4. 3. 2. 5.]
None
Column: hla_low_res_8_mean
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [8. 5. 2. 7. 4. 6. 3.]
None
Column: hla_low_res_10_median
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [10.  6.  9.  5.  8.  7.  4.]
None
Column: hla_high_res_6_mean
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [6. 5. 3. 4. 2. 0.]
None
Column: hla_high_res_8_mean
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [2. 8. 7. 5. 4. 6. 3.]
None
Column: hla_high_res_10_mean
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [ 3. 10.  8.  6.  5.  9.  7.  4.]
None
Column: dri_score_mean
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [ 0.  2.  3.  1. -1.  4.]
None
Column: karnofsky_score_median
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [6. 4. 7. 5. 3. 2. 1.]
None
Column: cyto_score_median
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [-2.  3.  5.  4.  1. -1.  2.]
None
Column: comorbidity_score_mean
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [ 1.  4.  2.  3.  7.  5.  8. 11.  6.  9. 10.]
None
Column: conditioning_intensity_median
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [-2.  3.  2.  1. -1.  0.]
None
Column: psych_disturb_binary
Total Entries: 28800
Non-NaN Values: 26592
Missing (NaN) Values: 2208
Missing (NaN) Values %: 7.666666666666666
Unique_values: [ 0. nan  1.]
None
Column: psych_disturb_Missing
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [False  True]
None
Column: psych_disturb_No
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [ True False]
None
Column: psych_disturb_Not done
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [False  True]
None
Column: psych_disturb_Yes
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [False  True]
None
Column: diabetes_binary
Total Entries: 28800
Non-NaN Values: 26540
Missing (NaN) Values: 2260
Missing (NaN) Values %: 7.847222222222222
Unique_values: [ 0.  1. nan]
None
Column: diabetes_Missing
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [False  True]
None
Column: diabetes_No
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [ True False]
None
Column: diabetes_Not done
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [False  True]
None
Column: diabetes_Yes
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [False  True]
None
Column: hepatic_severe_binary
Total Entries: 28800
Non-NaN Values: 26719
Missing (NaN) Values: 2081
Missing (NaN) Values %: 7.225694444444445
Unique_values: [ 0.  1. nan]
None
Column: hepatic_severe_Missing
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [False  True]
None
Column: hepatic_severe_No
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [ True False]
None
Column: hepatic_severe_Not done
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [False  True]
None
Column: hepatic_severe_Yes
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [False  True]
None
Column: pulm_severe_binary
Total Entries: 28800
Non-NaN Values: 26485
Missing (NaN) Values: 2315
Missing (NaN) Values %: 8.038194444444445
Unique_values: [ 0.  1. nan]
None
Column: pulm_severe_Missing
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [False  True]
None
Column: pulm_severe_No
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [ True False]
None
Column: pulm_severe_Not done
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [False  True]
None
Column: pulm_severe_Yes
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [False  True]
None
Column: obesity_binary
Total Entries: 28800
Non-NaN Values: 26923
Missing (NaN) Values: 1877
Missing (NaN) Values %: 6.517361111111112
Unique_values: [ 0.  1. nan]
None
Column: obesity_Missing
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [False  True]
None
Column: obesity_No
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [ True False]
None
Column: obesity_Not done
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [False  True]
None
Column: obesity_Yes
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [False  True]
None
Column: mrd_hct_encoded
Total Entries: 28800
Non-NaN Values: 12203
Missing (NaN) Values: 16597
Missing (NaN) Values %: 57.62847222222223
Unique_values: [nan  1.  0.]
None
Column: mrd_hct_Missing
Total Entries: 28800
Non-NaN Values: 28800
Missing (NaN) Values: 0
Missing (NaN) Values %: 0.0
Unique_values: [ True]
None

#XGBOOST

In [147]:

'''
 # Ensure target columns exist and are correctly formatted
data["efs"] = data["efs"].astype(bool)
data["efs_time"] = pd.to_numeric(data["efs_time"], errors="coerce")

# Drop rows with missing target values
data = data.dropna(subset=["efs", "efs_time"])

# Define features and target
X = data.drop(columns=[ "efs", "efs_time"])
y = Surv.from_dataframe(event="efs", time="efs_time", data=data)
'''
 # Ensure target columns exist and are correctly formatted
df["efs"] = data["efs"].astype(bool)
df["efs_time"] = pd.to_numeric(df["efs_time"], errors="coerce")

# Drop rows with missing target values
df = df.dropna(subset=["efs", "efs_time"])

# Define features and target
X = df.drop(columns=[ "efs", "efs_time"])
y = Surv.from_dataframe(event="efs", time="efs_time", data=data)

In [148]:

# Identify categorical and numerical columns
categorical_columns = X.select_dtypes(include=["object"]).columns
numerical_columns = X.select_dtypes(include=["number"]).columns

# Preprocessing: One-hot encode categorical variables, scale numerical ones
preprocessor = ColumnTransformer(
    transformers=[
        ("num", StandardScaler(), numerical_columns),
        ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_columns),
    ]
)

X_preprocessed = preprocessor.fit_transform(X)
print(type(X_preprocessed))
# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(
    X_preprocessed, y, test_size=0.2, random_state=42
)

# Prepare target arrays for XGBoost
y_train_time = y_train['efs_time'] # Access 'time' field of structured array
y_train_event = y_train['efs'] # Access 'event' field of structured array

y_test_time = y_test['efs_time'] # Access 'time' field of structured array
y_test_event = y_test['efs'] # Access 'event' field of structured array

# Train Gradient Boosted Survival Trees
gbst = XGBClassifier(
    n_estimators=1000,
    learning_rate=0.01,
    max_depth=15,
    random_state=42
)
gbst.fit(X_train,y_train_event)

# Evaluate model
risk_scores = gbst.predict(X_test)

#from sklearn.metrics import confusion_matrix
#confusion_matrix(y_test_event,risk_scores)

c_index = concordance_index_censored(y_test_event, y_test_time, risk_scores)
print(f"Concordance Index: {c_index[0]:.4f}")



#get_xgb_imp(gbst, df.columns.to_list())

# Define the number of top features you want to keep:
n = 60

# Sort the dictionary items by their importance value (in descending order)
sorted_features = sorted(get_xgb_imp(gbst, df.columns.to_list()).items(), key=lambda item: item[1], reverse=True)

# Extract the top n features
top_n_features = sorted_features[:n]

# Convert the list of tuples back to a dictionary (optional)
top_n_features_dict = dict(top_n_features)

# Display the top n features
print("Top", n, "features by importance:")
for feature, importance in top_n_features:
    print(f"{feature}: {importance}")

<class 'numpy.ndarray'>
Concordance Index: 0.6926
Top 60 features by importance:
prim_disease_hct: 0.20393580664218783
hla_match_dqb1_high: 0.16933391165187217
hla_match_a_high: 0.05878283889591014
in_vivo_tcd: 0.04170623910978829
mrd_hct: 0.04086867432938731
tce_match: 0.039937631336888
donor_age: 0.02849963730453706
ethnicity: 0.021492510525646682
hla_match_dqb1_low: 0.020905467353669206
tbi_status: 0.019727641881230322
pulm_severe_Not done: 0.018617120721502234
hla_match_b_low: 0.017046686758250388
psych_disturb_Missing: 0.0152332094435429
race_group: 0.015124774717508843
prior_tumor: 0.014593818472790362
hla_match_c_high: 0.013288862631897757
obesity_binary: 0.012462515236948572
psych_disturb_No: 0.01168851564077445
vent_hist: 0.011146342010604169
hla_match_drb1_low: 0.010604168380433888
hla_low_res_10_median: 0.010159212090845866
hla_match_a_low: 0.010106864292070803
age_at_hct: 0.010073212135715407
pulm_severe_Yes: 0.00971051667277391
diabetes: 0.009377734237703876
hepatic_mild: 0.00872712588149954
cyto_score_detail: 0.008629908540917284
renal_issue: 0.008566343356690423
prod_type: 0.008203647893748925
hla_nmdp_6: 0.008143821838005997
peptic_ulcer: 0.008039126240455875
rituximab: 0.007721300319321572
obesity_Missing: 0.007164170175215561
hla_match_c_low: 0.006969735494051047
tce_imm_match: 0.006850083382565192
cmv_status: 0.0064686922772040295
arrhythmia: 0.006210692411812655
hepatic_severe_binary: 0.00605364901548747
obesity_Yes: 0.005541388413188654
hepatic_severe_Missing: 0.005515214513801123
diabetes_Yes: 0.005500257999865392
hla_match_drb1_high: 0.0050179104254380385
efs: 0.004718780146723401
graft_type: 0.00452808459404282
cardiac: 0.0038550414669348866
karnofsky_score_median: 0.002643563838140606
hepatic_severe_No: 0.002467824799395757
hla_high_res_10_mean: 0.0021499988782614546
hla_low_res_8_mean: 0.002123824978873924
pulm_severe_Missing: 0.002112607593422125
hla_low_res_6_mean: 0.0019705207110326723
pulm_severe_No: 0.0018433903425789516
diabetes_Missing: 0.0018396512140950187
psych_disturb_binary: 0.0017424338735127617
obesity_No: 0.0016826078177698343
pulm_severe_binary: 0.001600346991123309
obesity_Not done: 0.0014881731366053201
hla_high_res_8_mean: 0.001379738410571264
diabetes_binary: 0.0012413906566657443
conditioning_intensity_median: 0.0011329559306316884

In [149]:
from numpy import array

In [150]:
df.columns.to_list()

['diabetes',
 'hla_match_c_high',
 'tbi_status',
 'arrhythmia',
 'graft_type',
 'vent_hist',
 'renal_issue',
 'prim_disease_hct',
 'cmv_status',
 'hla_match_dqb1_high',
 'tce_imm_match',
 'hla_nmdp_6',
 'hla_match_c_low',
 'rituximab',
 'hla_match_drb1_low',
 'hla_match_dqb1_low',
 'prod_type',
 'cyto_score_detail',
 'ethnicity',
 'mrd_hct',
 'in_vivo_tcd',
 'tce_match',
 'hla_match_a_high',
 'donor_age',
 'prior_tumor',
 'hla_match_b_low',
 'peptic_ulcer',
 'age_at_hct',
 'hla_match_a_low',
 'gvhd_proph',
 'rheum_issue',
 'sex_match',
 'hla_match_b_high',
 'race_group',
 'hepatic_mild',
 'tce_div_match',
 'donor_related',
 'melphalan_dose',
 'cardiac',
 'hla_match_drb1_high',
 'pulm_moderate',
 'efs',
 'efs_time',
 'hla_low_res_6_mean',
 'hla_low_res_8_mean',
 'hla_low_res_10_median',
 'hla_high_res_6_mean',
 'hla_high_res_8_mean',
 'hla_high_res_10_mean',
 'dri_score_mean',
 'karnofsky_score_median',
 'cyto_score_median',
 'comorbidity_score_mean',
 'conditioning_intensity_median',
 'psych_disturb_binary',
 'psych_disturb_Missing',
 'psych_disturb_No',
 'psych_disturb_Not done',
 'psych_disturb_Yes',
 'diabetes_binary',
 'diabetes_Missing',
 'diabetes_No',
 'diabetes_Not done',
 'diabetes_Yes',
 'hepatic_severe_binary',
 'hepatic_severe_Missing',
 'hepatic_severe_No',
 'hepatic_severe_Not done',
 'hepatic_severe_Yes',
 'pulm_severe_binary',
 'pulm_severe_Missing',
 'pulm_severe_No',
 'pulm_severe_Not done',
 'pulm_severe_Yes',
 'obesity_binary',
 'obesity_Missing',
 'obesity_No',
 'obesity_Not done',
 'obesity_Yes']

# ADAboost

In [26]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, roc_auc_score


# 5. Handle missing values using median imputation
imputer = SimpleImputer(strategy='median')
df_imputed = pd.DataFrame(imputer.fit_transform(data), columns=data.columns)




# Apply preprocessing
X = data.drop(columns=["efs_time", "efs"])  # Drop target columns
y = data[["efs", "efs_time"]]  # Survival outcome (Event + Time)

X_preprocessed = preprocessor.fit_transform(X)
X_preprocessed=np.nan_to_num(X_preprocessed, nan=0)

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X_preprocessed, y, test_size=0.2, random_state=42)

# Extract event and time components
y_train_event = y_train['efs'].astype(bool)  # ✅ Convert to boolean
y_test_event = y_test['efs'].astype(bool)  # ✅ Convert to boolean

# Train AdaBoost Classifier
base_learner = DecisionTreeClassifier(max_depth=7)  # Weak learner (stump)
adaboost = AdaBoostClassifier(estimator=base_learner, n_estimators=100, learning_rate=0.1, algorithm='SAMME', random_state=42)

'''

# Fit model
adaboost.fit(X_train, y_train_event)

# ✅ Use `predict_proba()` to get risk scores instead of `predict()`
risk_scores = adaboost.predict_proba(X_test)[:, 1]  # Probability of class 1 (Event)

# Evaluate model using Concordance Index
c_index = concordance_index_censored(y_test_event, y_test["efs_time"], risk_scores)
print(f"Concordance Index: {c_index[0]:.4f}")
'''

# Define hyperparameter grid
param_grid = {
    "n_estimators": [50, 100, 200],  # Number of weak learners
    "learning_rate": [0.01, 0.1, 0.5, 1.0],  # Learning rate
    "estimator__max_depth": [1, 2, 3]  # Depth of weak learners
}

# Grid search with cross-validation
grid_search = GridSearchCV(adaboost, param_grid, cv=5, scoring="accuracy", n_jobs=-1, verbose=10)
grid_search.fit(X_train, y_train_event)

# Print best parameters
print("Best Hyperparameters:", grid_search.best_params_)

# Train AdaBoost with best parameters
best_model = grid_search.best_estimator_

# Predict risk scores
risk_scores = best_model.predict_proba(X_test)[:, 1]  # Probability of class 1 (Event)

# Evaluate model using Concordance Index
c_index = concordance_index_censored(y_test_event, y_test["efs_time"], risk_scores)
print(f"Optimized Concordance Index: {c_index[0]:.4f}")

ValueError: Cannot use median strategy with non-numeric data:
could not convert string to float: 'N/A - non-malignant indication'

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sksurv.metrics import concordance_index_censored

# Get feature names from One-Hot Encoder
encoded_feature_names = preprocessor.get_feature_names_out()

# Get feature importances
importances = best_model.feature_importances_

# Create DataFrame of feature importance
feature_importance_df = pd.DataFrame({"Feature": encoded_feature_names, "Importance": importances})
feature_importance_df = feature_importance_df.sort_values(by="Importance", ascending=False).head(30)  # Show top 20

# Plot feature importance
plt.figure(figsize=(12, 6))
plt.barh(feature_importance_df["Feature"], feature_importance_df["Importance"], color="skyblue")
plt.xlabel("Importance Score")
plt.ylabel("Feature")
plt.title("Top 20 Most Important Features in AdaBoost")
plt.gca().invert_yaxis()  # Highest importance at top
plt.show()